<style>

    #mainHeader {
      background-color: darkred;
      color: white;
      font-size: 35px;
      padding: 15px;
      width: 1500px;
    }

    #block_1 {
      background-color: darkslategray;
      color: darkslategray;
      height: 35px;
      width: 1500px;
      position: relative;
      top: 0px
    }

    .headerLinks {
      color: white;
      font-weight: bold;
      position: relative;
      top: -73px;
      left: 1375px
    }

    .blockLinks {
      display: inline;
      position: relative;
      padding-left: 30px;
      top: -40px;
      left: 1185px
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #image_1 {
      width: 900px;
      position: relative;
      top: 0px;
      left: 30px
    }

    #header_2 {
      position: relative;
      font-size: 40px;
      font-weight: bold;
      top: 25px;
      left: 50px
    }

    #paragraph_1 {
      position: relative;
      top: 25px;
      left: 33px;
      width: 850px;
      font-size: 22px;
      padding: 20px
    }

    .footer {
      position: relative;
      top: -975px;
      background-color: darkslategray;
      color: white;
      width: 1415px;
      padding: 15px;
      font-size: 17px;
    }

    #sideList {
      position: relative;
      top: -947px;
      left: 1050px
    }

    .sideImage {
      width: 335px;
      padding-bottom: 40px;
    }

    .sideHeader {
      font-weight: bold;
      font-size: 30px;
      padding-bottom: 10px;
    }

</style>
